@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    box-sizing: border-box;
}
html {
    background-color: #050324;
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 1em 0 0 2em;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Edge, Opera */
    
}
#startstop{
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    background-color: orange;
}
.options{
    background-color: rgb(255, 77, 106);
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#canvas {
    display: block;
    border: 1px solid #000;
    box-sizing: content-box;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}